body{
    background-color: rgb(129, 166, 245);
    text-align: center;
    color: darkblue;
}
img{
    height: 250;
    width: 300;

}
#login{
    width: 100px;
    color:white;
    background-color: darkblue;
}